replicaCount: 1
image:
  repository: mongo
  tag: latest
service:
  type: ClusterIP
  port: 27017
resources: {}
persistence:
  enabled: true
  size: 1Gi
mongodbUser: crmuser
mongodbPassword: crmpass
mongodbDatabase: crmdb
